<div class="jumbotron">
  <h1>Welcome to Movies!</h1>
  <p class="lead">
   
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Sign In<span class="glyphicon glyphicon-hand-left"></span></a></p>
</div>

<div class="row marketing">
  <h4>Coming Soon</h4>
  <p>
    Quinoa plaid iPhone viral, banjo fanny pack photo booth vegan lumbersexual hashtag Tumblr wolf listicle banh mi. Chambray leggings wolf locavore, crucifix fingerstache Thundercats whatever street art. Try-hard four dollar toast cold-pressed craft beer, tofu fap pickled. Direct trade food truck PBR&B, mlkshk asymmetrical mumblecore Marfa drinking vinegar disrupt roof party master cleanse narwhal yr deep v scenester. Pickled normcore tattooed, meggings wolf wayfarers salvia narwhal asymmetrical Vice mixtape messenger bag forage skateboard. Pork belly Tumblr biodiesel, narwhal Thundercats yr swag freegan PBR banjo normcore butcher try-hard fixie cold-pressed. Street art cred synth flexitarian lomo hoodie.
  </p>

